<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h2> Mad Libs </h2>
   <h1> Al Bino The Boy Wonder </h1>
   <p> Once upon a time, there was a little __[noun]__ by the name of Al Bino. Al was a rather ___[adj]____ kid, In school everyone would call him ___[adj]____. One day in class Al Bino got bored and doodled a ___[noun]___ in his notebook. The ____[noun]____ had the power to __[verb]__ anything it wanted. The more Al Bino doodled, the more ___[adj]____ his doodles got. he ___[verb]____ the idea where he became a witch concocting ___[noun]____ for a living. Al Bino drew a  ___[noun]____ which he could put all of his ___[noun]____ into. First he put a little of __[noun]__, then some ___[noun]____ and finally, just a dash of ___[noun]____. This potion was so ___[adj]___ that it was able to ___[v]____ anyone just by __[v]____ it. The teacher noticed Al Bino was not paying attention and ___[v]____ a ___[noun]____ on his desk and ____[v]____ his notebook and ___[v]___it in the ___[n]___. Al Bino got ___[adj]____! He went into his ___[noun]___ and __[v]__ out a __[noun]__. The teacher was so __[adj]___ that he left the room __[v]__, leaving the notebook all to Al Bino.
The End." </p>
  </body>
</html>