<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
 </head>
 <body>
  <div class="container">
  <!-- MAKE SURE EVERYTHING YOU WANT FOR YOUR BODY GOES INSIDE THIS TAG! -->
    <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Home</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href='/haunted_form'>Haunted</a>
                    </li>
                    <li>
                        <a href='/adventure_form'>Adventurous</a>
                    </li>
                    <li>
                        <a href='/funny_form'>Funny</a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </div>
    <div class="page-header">
      <h1>Mad Libs</h1>
    </div>
    <h2>Choose a Mad Lib:</h2>
    <div class="3pic container" width="100%">
      <div class="1pic container"  display="inline-block" align="left" width="33%" float="left" bgcolor="red">
        <a href="insert_words_funny.erb">
          <img src= "http://media.giphy.com/media/PMKojXtiBL6U0/giphy.gif"     length="100" width="30%">
        </a>
        <p> Click the photo for Haunted Mad Lib </p>
      </div>
      <div class="1pic container" display="inline-block" align="top" width="33%" float="center" bgcolor="#E6E6FA">
        <a href="insert_words_funny.erb">
          <img src= "http://media.giphy.com/media/aIvRV85ReChmo/giphy.gif"     length="100" width="30%">
        </a>
        <p> Click the photo for Adventurous Mad Lib </p>
      </div>
      <div class="1pic container"  display="inline-block" align="right" width="33%" float="right" bgcolor="red">
        <a href="insert_words_funny.erb">
          <img src= "http://media.giphy.com/media/ibooxcjS5WHjW/giphy.gif"      length="100" width="30%">
        </a>
        <p> Click the photo for Funny Mad Lib </p>
      </div>
    </div>   
  </div> 
   <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
 </body>
</html>