<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Mad Libs</title>
  <link rel="stylesheet" href="stylesheet.css" type="text/css">
 </head>
 <body>
   <h1> Inserting Words </h1>
   <p> In the following boxes please fill in what you think would fit best in the following story. </p>
   
      <form method="POST" action="/adventure_story">
     
     <textarea name="words" rows="10" cols="50">Write 2 proper nouns here</textarea>
     <input type="submit">
     
     <textarea name="words" rows="10" cols="50">Write 5 nouns here</textarea>
     <input type="submit">
     
     <textarea name="words" rows="10" cols="50">Write 6 adjectives here</textarea>
     <input type="submit">
        
     <textarea name="words" rows="10" cols="50">Write 2 adverbs here</textarea>
     <input type="submit">
        
     <textarea name="words" rows="10" cols="50">Write 1 exclamation here</textarea>
     <input type="submit">

   </form>
   
   
<!--
   <form method="POST" action="/adventure_story">
     <% @pos.each do |word| %>
     <p> <%=word %> </p>
     <input type=" ">
     <%end%>
     <input type="submit">
-->  
 </body>
</html>